.backdrop {
  position: fixed;
  top: 0;
  transition: transform var(--anim-duration) var(--cubic),
    opacity var(--anim-duration) var(--cubic),
    visibility var(--anim-duration) var(--cubic);
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.2);
  opacity: 0;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  padding: 40px;
  opacity: 1;
  width: 528px;
  background-color: var(--modal-bg-color);
  border-radius: 4px;
  text-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.modal-close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  width: 30px;
  height: 30px;
  align-items: center;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
}
.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
