header {
  position: relative;
}

.mobile-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 60px;

  @media screen and (min-width: 768px) {
    display: none;
  }
}
.mobile-header__btn {
  display: inline-flex;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
}
.mobile-header__icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
  z-index: 5;
  &:focus,
  &:hover {
    fill: var(--accent-color);
  }
  transition: fill var(--anim-duration) var(--cubic);
}
.mobile-header__icon-menu {
  display: none;
  .mobile-header__btn.is-open & {
    display: block;
  }
}
.mobile-header__icon-close {
  display: block;
  .mobile-header__btn.is-open & {
    display: none;
  }
}
.mobile-nav {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  padding: 48px 40px;
  text-align: left;
  background-color: var(--header-backgr-color);
  width: 100vw;
  height: 100vh;
  &.is-open {
    display: flex;
    position: fixed;
    flex-direction: column;
    z-index: 1;
  }
}

.mobile-nav__link {
  display: inline-block;
  margin-right: auto;
  margin-bottom: 32px;
  text-align: center;
  @include font(500, 40px, 1.18, 00.02em);
  color: var(--header-link-color);
  &:focus,
  &:hover {
    color: var(--header-hover-color);
  }

  transition: color var(--anim-duration) var(--cubic);
}

.mobile-nav__link--current {
  color: var(--header-hover-color);
}
.mobile-header-contact {
  margin-top: auto;
  margin-bottom: 64px;
}

.mobile-header-contact__item {
  & + & {
    margin-top: 32px;
  }
}

.mobile-header-contact__link--tel {
  @include font(500, 34px, 1.05, 0.02em);
  color: var(--header-hover-color);
}
.mobile-header-contact__link--mail {
  @include font(500, 24px, 1.17, 0.02em);
  color: var(--header-contact-color);
}
.mobile-header-socials__list {
  display: flex;
  flex-wrap: wrap;
}
.mobile-header-socials__item {
  padding: 0 10px;
  @include font(500, 18px, 1.22, 0.02em);
  color: var(--header-hover-color);
  & + & {
    border-left: 1px solid rgba(33, 33, 33, 0.2);
  }
}
