.our-team {
  background-color: var(--our-team-backgr-color);
}
.our-team__title {
  @include font(700, 36px, 1.17, 0.03em);
  text-align: center;
  color: var(--basic-title-color);
  margin-bottom: 50px;
}
.our-team__list {
  margin-bottom: -30px;
  @include tabl {
    display: flex;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    flex-wrap: wrap;
    margin-right: -30px;
  }
}
.our-team__item {
  width: 100%;
  margin-bottom: 30px;
  box-shadow: 0 2px 1px 0 rgba(00, 00, 00, 0.2),
    0 1px 1px 0 rgba(00, 00, 00, 0.14);
  @include tabl {
    width: calc(100% / 2 - 30px);
    margin-right: 30px;
  }
  @include desk {
    width: calc(100% / 4 - 30px);
  }
}
.our-team__img {
  width: 100%;
}

.our-team__name {
  @include font(500, 16px, 1.19, 0.03em);
  text-align: center;
  color: var(--basic-title-color);
  margin-bottom: 10px;
}
.our-team__proffetions {
  margin-bottom: 16px;
  @include font(null, 16px, 1.19, 0.03em);
  text-align: center;
  color: var(--basic-text-color);
}
.our-team__card-text {
  background-color: var(--our-team-cards-backgr-color);
  padding-top: 30px;
  padding-bottom: 30px;
}
