:root {
  --body-backgr-color: #ffffff;
  --basic-text-color: #757575;
  --secondary-text-color: #ffffff;
  --main-title-color: #ffffff;
  --basic-title-color: #212121;
  --secondary-titele-color: #000000;
  --accent-color: #2196f3;
  --header-link-color: #212121;
  --header-hover-color: #2196f3;
  --header-logo-color: #000000;
  --header-contact-color: #757575;
  --header-backgr-color: #ffffff;
  --btn-color: #f5f4fa;
  --btn-text-color: #212121;
  --btn--backgr-color: #2196f3;
  --secondary-btn-color: #ffffff;
  --footer-logo-accent-color: #ffffff;
  --footer-backgr-color: #2f303a;
  --footer-address-color: #ffffff;
  --footer-contact-color: rgba(255, 255, 255, 0.6);
  --hero-backgr-color: #2f303a;
  --our-team-backgr-color: #f5f4fa;
  --our-team-cards-backgr-color: #ffffff;
  --primary--link-color: #ffffff;
  --features-icon-bg-color: #f5f4fa;
  --clients-color: #afb1b8;
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
  --anim-duration: 250ms;
  --modal-bg-color: #ffffff;
}
